<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - hackathon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Szkoły Nysa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Przedszkola">Przedszkola</a> </li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="SzkolyPodstawowe">Szkoły podstawowe</a> </li>
          <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="SzkolySrednie">Szkoły średnie</a></li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="SzkolyWyzsze">Szkoły wyższe</a> </li>
          <li class="nav-item"> <a class="nav-link" asp-controller="Home" asp-action="Ranking">Ranking</a></li>
        </ul>
      </div>
    </nav>
    
    <main role="main" style="padding-top: 60px;">
      @RenderBody()
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)

  </body>
</html>