@model Przedszkole

<div class="container" style="margin-top: 10px;">
    <div class="row justify-content-md-center">
        <div class="col-12 text-center" style="padding: 10px"><h1>NAZWA SZKOLY</h1></div>
        <div class="col-4 text-center" style="padding: 10px">
            Strona internetowa: 
        </div>
        <div class="col-4 text-center" style="padding: 10px">
            Email:
        </div>
        <div class="col-6" style="padding: 10px">
            <img src="~/img/4.jpg" class="img img-fluid rounded" />
        </div>
        <div class="col-6" style="padding: 10px">
            OPIS OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS OPIS OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS OPIS OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS OPIS OPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPISOPIS
        </div>
        <div class="col-4 text-center" style="padding: 10px;">
            <p>Adres: <br />
            Telefon: 
            </p>
            <p>Email: <br />
            Strona www: </p>
        </div>
        <div class="col-4 text-center" style="padding: 10px;">
            <p>
                Godziny Otwarcia: 
            </p>
            <p>
                Ilosc miejsc: 
            </p>
            <p>
                Godziny Otwarcia:
            </p>
        </div>
        <div class="col-12 lokalizacja text-center" style="padding: 10px;">
            <iframe class="rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.9900195898726!2d17.329516808328417!3d50.45991053728456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff422e4b820af0f6!2zWmVzcMOzxYIgU3prw7PFgiBpIFBsYWPDs3dlayBPxZt3aWF0b3d5Y2g!5e0!3m2!1spl!2spl!4v1509197308291" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>