<style>

    .nazwa{
        width: 100%;
        height: 30px;
    }

    .flex{
        width: 100%;
        height: 70px;
        display: flex;
    }

</style>

<div class="nazwa">Pełna nazwa szkoły</div>
<div class="flex">

    <div class="zdjecie"><img src="#" /></div>
    <div class="kontakt">Adres, kontakt itp</div>
    <div class="ocena">*****</div>

</div>