@model SearchViewModel

<div class="container" style="margin-top: 10px; max-width: 50%">
    <form method="post" asp-controller="Home" asp-action="Search">
        <div class="row">
            <div class="form-group col-12">
                <label asp-for="Rodzaj"></label> <span class="text-danger" asp-validation-for="Rodzaj"></span>
                <select id="trigger" asp-for="Rodzaj" class="form-control" onchange="valueChanged()">
                        <option value="Zlobek">Żłobek</option>
                        <option value="Przedszkole">Przedszkole</option>
                        <option value="Podstawowa">Podstawowa</option>
                        <option value="Srednia">Średnia</option>
                </select>
            </div>

            <div class="form-group col-12">
                <label asp-for="Typ"></label> <span class="text-danger" asp-validation-for="Typ"></span>
                <select asp-for="Typ" class="form-control">
                        <option value="3">Wszystkie</option>
                        <option value="1">Prywatna</option>
                        <option value="0">Publiczna</option>
                </select>
            </div>

            <div class="form-group col-12" id="kier" style="display: none;">
                <label asp-for="Kierunek"> </label><span class="text-danger" asp-validation-for="Kierunek"></span>
                <select asp-for="Kierunek" class="form-control">
                    <option value="Dowolny">Dowolny</option>
                    @foreach(var item in @ViewData["Options"] as List<string>){
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group col-12 align-self-end"><button class="btn btn-primary" type="submit" >Wyszukaj</button></div>
        </div>
    </form>
</div>

@section Scripts 
{
    <script>
        window.onload = function() {
            valueChanged();
        };

        function valueChanged()
        {
            var obj = document.getElementById("trigger");

            if(obj.value != "Srednia")
            {
               document.getElementById("kier").style.display = "none";
            }
            else
            {
                document.getElementById("kier").style.display = "block";
            }
        }
    </script>
}