<style>

    #container{
        max-width: 1000px;
        padding: 10px;
    }

    .border{
        border: solid black 1px;
    }

    .flex{
        width: 100%;
        display: flex
    }

    .nazwa{
        width: 100%;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }

    .zdjecie{
        width: 50%;
        padding: 10px;
    }

    img{
        width: 100%;
    }

    .opis{
        width: 50%;
        padding: 10px;
        text-align: left;
    }

    .lokalizacja{
        width: 100%;
        padding: 10px;
    }

    .kierunek{
        width: 100%;
        padding: 10px;
        text-align: left;
    }

    .kontakt{
        width: 100%;
        padding: 10px;
        text-align: center;
    }

</style>

<div id="container" class="border"><center>

    <div class="nazwa">Zespół Szkół i Placówek Oświatowych w Nysie</div>
        <br/><br/>
    
    <div class="flex">
        <div class="zdjecie"><img src="rolnik.jpg" /></div>
        <div class="opis">Opis szkoły - fhdjjdsbjbdjdsbjkdsgjksdgjksdgjkngvkjdsn
            fdgdgdgdgdgdgdgdffdbdfbfbfdbdfbbdbdbdfb
            bfdbdfbfdbdfbdfbdfbfdbfdbdfbfdbfdbfdbfdbfdfdsf
            bfbfdbdfbdbdfbfdbfdbfdbfdbfdbbfdbdfbbbb
        </div>
    </div>
        <br/><br/>
    
    <div class="lokalizacja">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.9900195898726!2d17.329516808328417!3d50.45991053728456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xff422e4b820af0f6!2zWmVzcMOzxYIgU3prw7PFgiBpIFBsYWPDs3dlayBPxZt3aWF0b3d5Y2g!5e0!3m2!1spl!2spl!4v1509197308291" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
        <br/><br/>
    
    <div class="kierunek">

        Liceum:
        <ul>
            <li>mit-fiz</li>
            <li>biol-chem</li>
        </ul>

        Technikum:
        <ul>
            <li>info</li>
            <li>wet</li>
        </ul>

        Zawodówka:
        <ul>
            <li>info</li>
            <li>wet</li>
        </ul>

    </div>

    <div class="kontakt">

        Zespół Szkół i Placówek Oświatowych<br/>
        ul. Rodziewiczówny 1, 48-303 Nysa<br/>
        tel./fax +48 77 4310466-67<br/>
        e-mail: zsr_nysa@wodip.opole.pl<br/>
        <a href="https://www.rolniknysa.pl" target="_black">www.rolniknysa.pl</a>

    </div>
    
</center></div>